---
   import projects from "../scripts/Post"
   import Layout from "../layouts/Layout.astro";
   import ProjectCarousel from "../components/ProjectCarousel.astro";

   export function getStaticPaths () {
      return projects.map((post) => ({
        params: { post: post.href },
      }));
   }


   const { post } = Astro.params;

   const currentPost = projects.find((p) => p.href === post);
---

<Layout>
    <div class="container mt-5">
      {currentPost && (
        
          <ProjectCarousel images={currentPost.img} carouselId={`carousel-${post}`} />

        <h1 class="title">{currentPost.title}</h1>
        <p>{currentPost.description}</p>
        <br>
        <p>{currentPost.description2}</p>
        <p>{currentPost.description3}</p>
        <ul style="color: grey; font-size: 1.2rem;">
          {currentPost.description4.map((item) => (
            <li>{item}</li>
          ))}
        </ul>
        <br>
        <p>{currentPost.description5}</p>
        <h2 class="subtitle">{currentPost.subtitle}</h2>
        <p>{currentPost.text}</p>
        <h2 class="subtitle">{currentPost.subtitle2}</h2>
        <p>{currentPost.text2}</p>
        <br><br>
        <span class="ctaction" style="color:#344E41">{currentPost.text3}</span>
        <br><br>
        <div class="btn-group">
          <button class="btn-contact" onclick="window.location.href='/#rock-contact'">Let’s Rock 🎸</button>
          <button class="btn-contact" onclick="window.location.href='/ProjectsP'">Back to Projects 👀</button>
        </div>

      )} 
    </div>
</Layout>

<style>

  .container {
    max-width: 80%;
    overflow: hidden;
  }

  .btn-group {
    display: flex;
    
    gap: 20px;
  }



  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 10%;
  }

  p {
    color: rgb(132, 130, 128);
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  .ctaction {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;

  }

  .btn-contact {
      background-color: #344E41;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      margin-bottom: 10%;
  }
  


</style>